/* Frame 1 */

position: relative;
width: 652px;
height: 632px;

background: #FFFFFF;


/* Тренувальне спорядження */

position: absolute;
width: 142px;
height: 12px;
left: 17px;
top: 56px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Пояси */

position: absolute;
width: 37px;
height: 18px;
left: 177px;
top: 56px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #00000000;



/* image 1 */

position: absolute;
width: 27px;
height: 27px;
left: 17px;
top: 549px;

background: url(image.png);


/* +380668316672 */

position: absolute;
width: 97px;
height: 15px;
left: 53px;
top: 561px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* image 2 */

position: absolute;
width: 35px;
height: 24px;
left: 205px;
top: 545px;

background: url(image.png);


/* Frame 2 */

position: absolute;
width: 652px;
height: 407px;
left: 0px;
top: 118px;

background: #FFFEFE;


/* 89143610-9392-475a-b0ce-9b36ce758fb7 1 */

position: absolute;
width: 377px;
height: 265px;
left: 60px;
top: 65px;

background: url(89143610-9392-475a-b0ce-9b36ce758fb7);


/* Ellipse 1 */

position: absolute;
width: 141px;
height: 136px;
left: 34px;
top: 48px;

background: #B40909;


/* За ціною */

position: absolute;
width: 76px;
height: 25px;
left: 66px;
top: 76px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* 799 грн */

position: absolute;
width: 77px;
height: 30px;
left: 79px;
top: 101px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* Защита для голови (Кіокушинкай) */

position: absolute;
width: 212px;
height: 15px;
left: 391px;
top: 91px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Made in Europe */

position: absolute;
width: 91px;
height: 15px;
left: 451px;
top: 112px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* 𝕊𝕡𝕠𝕣𝕥𝔽𝕠𝕣𝕔𝕖 */

position: absolute;
width: 107px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Спортивний одяг */

position: absolute;
width: 86px;
height: 12px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Футболки */

position: absolute;
width: 49px;
height: 12px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Аксесуари */

position: absolute;
width: 53px;
height: 12px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Суддівські атрибути */

position: absolute;
width: 102px;
height: 12px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Графік роботи Пн-Пт: 9:00 - 18:00 Сб-Нд: Вихідний */

position: absolute;
width: 114px;
height: 45px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: #000000;



/* Контактний телефон */

position: absolute;
width: 123px;
height: 15px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Наша пошта: */

position: absolute;
width: 76px;
height: 15px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* sportforce@gmail.com */

position: absolute;
width: 138px;
height: 20px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: #000000;



/* Frame 3 */

position: relative;
width: 636px;
height: 2592px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 652px;
height: 79px;
left: 0px;
top: 62px;

background: #F5F4F4;


/* Тренувальне спорядження */

position: absolute;
width: 339px;
height: 34px;
left: 187px;
top: 85px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;



/* 𝕊𝕡𝕠𝕣𝕥𝔽𝕠𝕣𝕔𝕖 */

position: absolute;
width: 107px;
height: 24px;
left: 272px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* image 3 */

position: absolute;
width: 117px;
height: 164px;
left: 44px;
top: 170px;

background: url(image.png);


/* Rectangle 2 */

position: absolute;
width: 155px;
height: 252px;
left: 25px;
top: 157px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* Rectangle 3 */

position: absolute;
width: 62px;
height: 20px;
left: 71px;
top: 399px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Frame 4 */

position: absolute;
width: 155px;
height: 252px;
left: 243px;
top: 157px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 83px;
top: 402px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Лапи */

position: absolute;
width: 30px;
height: 12px;
left: 308px;
top: 345.01px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #000000;

transform: rotate(-0.01deg);


/* image 4 */

position: absolute;
width: 130px;
height: 128px;
left: 258px;
top: 189px;

background: url(image.png);
border-radius: 17px;


/* Rectangle 4 */

position: absolute;
width: 62px;
height: 20px;
left: 295px;
top: 399px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* image */

position: absolute;
width: 117px;
height: 127px;
left: 480px;
top: 188px;

background: url(image.png);
border-radius: 26px;


/* Frame 5 */

position: absolute;
width: 155px;
height: 252px;
left: 461px;
top: 157px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* Rectangle 5 */

position: absolute;
width: 62px;
height: 20px;
left: 508px;
top: 399px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* image 5 */

position: absolute;
width: 27px;
height: 68px;
left: 31px;
top: 68px;

background: url(image);


/* image 6 */

position: absolute;
width: 28px;
height: 71px;
left: 583px;
top: 65px;

background: url(image.png);


/* Rectangle 6 */

position: absolute;
width: 155px;
height: 252px;
left: 25px;
top: 507px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* Rectangle 7 */

position: absolute;
width: 62px;
height: 20px;
left: 71px;
top: 749px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 8 */

position: absolute;
width: 155px;
height: 252px;
left: 239px;
top: 507px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* Rectangle 9 */

position: absolute;
width: 62px;
height: 20px;
left: 286px;
top: 749px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* image 8 */

position: absolute;
width: 142px;
height: 148px;
left: 252px;
top: 521px;

background: url(image.png);


/* Rectangle 10 */

position: absolute;
width: 155px;
height: 252px;
left: 461px;
top: 507px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 9 */

position: absolute;
width: 155px;
height: 139px;
left: 461px;
top: 547px;

background: url(image.png);


/* Rectangle 11 */

position: absolute;
width: 62px;
height: 20px;
left: 508px;
top: 749px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 12 */

position: absolute;
width: 155px;
height: 252px;
left: 25px;
top: 863px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 10 */

position: absolute;
width: 147px;
height: 147px;
left: 29px;
top: 884px;

background: url(image.png);
border-radius: 32px;


/* Rectangle 13 */

position: absolute;
width: 155px;
height: 252px;
left: 239px;
top: 863px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 11 */

position: absolute;
width: 150px;
height: 131px;
left: 242px;
top: 892px;

background: url(image.png);


/* Rectangle 14 */

position: absolute;
width: 155px;
height: 252px;
left: 461px;
top: 863px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* Rectangle 15 */

position: absolute;
width: 155px;
height: 252px;
left: 25px;
top: 1202px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 13 */

position: absolute;
width: 147px;
height: 158px;
left: 29px;
top: 1216px;

background: url(image.png);


/* Rectangle 16 */

position: absolute;
width: 62px;
height: 20px;
left: 71px;
top: 1105px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 17 */

position: absolute;
width: 62px;
height: 20px;
left: 286px;
top: 1105px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 18 */

position: absolute;
width: 62px;
height: 20px;
left: 508px;
top: 1105px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 19 */

position: absolute;
width: 62px;
height: 20px;
left: 71px;
top: 1444px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 20 */

position: absolute;
width: 155px;
height: 252px;
left: 239px;
top: 1202px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 14 */

position: absolute;
width: 139px;
height: 155px;
left: 251px;
top: 1219px;

background: url(image.png);


/* Rectangle 21 */

position: absolute;
width: 62px;
height: 20px;
left: 286px;
top: 1444px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 22 */

position: absolute;
width: 155px;
height: 252px;
left: 461px;
top: 1202px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 15 */

position: absolute;
width: 144px;
height: 151px;
left: 465px;
top: 1223px;

background: url(image.png);


/* Rectangle 24 */

position: absolute;
width: 155px;
height: 252px;
left: 25px;
top: 1584px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 16 */

position: absolute;
width: 155px;
height: 136px;
left: 25px;
top: 1604px;

background: url(image.png);
border-radius: 30px;


/* Rectangle 25 */

position: absolute;
width: 62px;
height: 20px;
left: 519px;
top: 1444px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 26 */

position: absolute;
width: 62px;
height: 20px;
left: 71px;
top: 1826px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 27 */

position: absolute;
width: 155px;
height: 252px;
left: 239px;
top: 1584px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 17 */

position: absolute;
width: 135px;
height: 135px;
left: 249px;
top: 1605px;

background: url(image.png);


/* Rectangle 28 */

position: absolute;
width: 62px;
height: 20px;
left: 285px;
top: 1826px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 29 */

position: absolute;
width: 155px;
height: 252px;
left: 461px;
top: 1584px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 18 */

position: absolute;
width: 135px;
height: 136px;
left: 471px;
top: 1605px;

background: url(image.png);


/* Rectangle 30 */

position: absolute;
width: 155px;
height: 252px;
left: 25px;
top: 1950px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 19 */

position: absolute;
width: 150px;
height: 139px;
left: 25px;
top: 1965px;

background: url(image.png);


/* Rectangle 31 */

position: absolute;
width: 155px;
height: 252px;
left: 243px;
top: 1945px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 20 */

position: absolute;
width: 146.38px;
height: 139px;
left: 249px;
top: 1965px;

background: url(image.png);


/* Rectangle 32 */

position: absolute;
width: 62px;
height: 20px;
left: 508px;
top: 1826px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 33 */

position: absolute;
width: 62px;
height: 20px;
left: 69px;
top: 2187px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 34 */

position: absolute;
width: 62px;
height: 20px;
left: 299px;
top: 2187px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 35 */

position: absolute;
width: 155px;
height: 252px;
left: 461px;
top: 1945px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 21 */

position: absolute;
width: 134px;
height: 139px;
left: 477px;
top: 1965px;

background: url(image.png);


/* Rectangle 34 */

position: absolute;
width: 62px;
height: 20px;
left: 514px;
top: 2187px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Rectangle 36 */

position: absolute;
width: 155px;
height: 252px;
left: 12px;
top: 2290px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 22 */

position: absolute;
width: 133.78px;
height: 140px;
left: 25px;
top: 2314px;

background: url(image.png);


/* Rectangle 37 */

position: absolute;
width: 62px;
height: 20px;
left: 58px;
top: 2532px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 70px;
top: 2535px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 81px;
top: 2190px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 311px;
top: 2190px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Rectangle 38 */

position: absolute;
width: 155px;
height: 252px;
left: 244px;
top: 2290px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 23 */

position: absolute;
width: 116px;
height: 151px;
left: 264px;
top: 2307px;

background: url(image.png);


/* Rectangle 39 */

position: absolute;
width: 62px;
height: 20px;
left: 287px;
top: 2532px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 299px;
top: 2535px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 525px;
top: 2190px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 520px;
top: 1829px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 299px;
top: 1829px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 83px;
top: 1829px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 299px;
top: 1447px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 531px;
top: 1447px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 83px;
top: 1447px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 299px;
top: 1108px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 520px;
top: 1108px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 83px;
top: 1108px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 83px;
top: 752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 299px;
top: 752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 520px;
top: 752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 520px;
top: 402px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 308px;
top: 402px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Rectangle 40 */

position: absolute;
width: 155px;
height: 252px;
left: 461px;
top: 2290px;

background: #D9D9D9;
opacity: 0.15;
border-radius: 26px;


/* image 24 */

position: absolute;
width: 147px;
height: 163px;
left: 461px;
top: 2307px;

background: url(image.png);


/* Rectangle 41 */

position: absolute;
width: 62px;
height: 20px;
left: 508px;
top: 2532px;

background: #000000;
opacity: 0.25;
border-radius: 5px;


/* Купить */

position: absolute;
width: 38px;
height: 13px;
left: 520px;
top: 2535px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Груша боксерська */

position: absolute;
width: 90px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #000000;



/* 3,100.00 грн */

position: absolute;
width: 66px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 1,600.00 грн */

position: absolute;
width: 66px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Протектор гомілки (панчоха) */

position: absolute;
width: 143px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #000000;



/* 350.00 грн */

position: absolute;
width: 59px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* image 7 */

position: absolute;
width: 122px;
height: 140px;

background: url(image.png);


/* Протектор гомілки посилений (Кіокушинкай) */

position: absolute;
width: 138px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #000000;



/* 550.00 грн */

position: absolute;
width: 60px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Протектор гомілки посилений (Шинкіокушинкай) */

position: absolute;
width: 116px;
height: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;



/* 550.00 грн */

position: absolute;
width: 60px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Протектор грудей */

position: absolute;
width: 98px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 610.00 грн */

position: absolute;
width: 57px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Протектор грудей GreenHill */

position: absolute;
width: 148px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 960.00 грн */

position: absolute;
width: 59px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Протектор грудей дитячий (Кіокушинкай) */

position: absolute;
width: 127px;
height: 33px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 400.00 грн */

position: absolute;
width: 59px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* image 12 */

position: absolute;
width: 137px;
height: 135px;

background: url(image.png);


/* Протектор грудей дитячий (Шинкіокушинкай) */

position: absolute;
width: 147px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 400.00 грн */

position: absolute;
width: 59px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Протектор паху (жін.) */

position: absolute;
width: 118px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 350.00 грн */

position: absolute;
width: 59px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 250.00 грн */

position: absolute;
width: 58px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Протектор паху (чол.) */

position: absolute;
width: 119px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Ракетка */

position: absolute;
width: 44px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 650.00 грн */

position: absolute;
width: 58px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Рукавиці (панчоха) */

position: absolute;
width: 103px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 200.00 грн */

position: absolute;
width: 58px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Рукавиці Тхеквондо (довга застібка) */

position: absolute;
width: 114px;
height: 26px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 450.00 грн */

position: absolute;
width: 59px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Рукавиці Тхеквондо (коротка застібка) */

position: absolute;
width: 124px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 380.00 грн */

position: absolute;
width: 59px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Рукавиці шкіряні (Кіокушинкай) */

position: absolute;
width: 100px;
height: 27px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 760.00 грн */

position: absolute;
width: 58px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Рукавиці шкіряні (Шинкіокушинкай) */

position: absolute;
width: 107px;
height: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 760.00 грн */

position: absolute;
width: 58px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Тренувальна подушка 25х45х12 */

position: absolute;
width: 128px;
height: 23px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 950.00 грн */

position: absolute;
width: 58px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Тренувальна подушка 25х45х12 (Посилена) */

position: absolute;
width: 122px;
height: 26px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 990.00 грн */

position: absolute;
width: 59px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Тренувальна подушка 30х40х14 */

position: absolute;
width: 137px;
height: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 1,300.00 грн */

position: absolute;
width: 66px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Тренувальна подушка 40х60х15 */

position: absolute;
width: 108px;
height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;



/* 1,800.00 грн */

position: absolute;
width: 66px;
height: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #000000;

